<nav>

    <h1 id="logo_nav">Sistema de <br><span>Gerenciamento</span></h1>

    <ul id="nav_link">

        <li class="pages_link">
            <a href="/public/dashboard/pedidos.html">
                <i class="fa-solid fa-truck"></i><span>Pedidos</span>
            </a>
        </li>

        <li class="pages_link">
            <a href="/public/dashboard/cardapio.html">
                <i class="fa-solid fa-book-open"></i><span>Cardápio</span>
            </a>
        </li>

        <li class="pages_link">
            <a href="/public/dashboard/lanches.html">
                <i class="fa-solid fa-box"></i><span>Produtos cadastrados</span>
            </a>
        </li>

        <li class="pages_link">
            <a href="/public/dashboard/financeiro.html">
                <i class="fa-solid fa-dollar-sign"></i><span>Financeiro</span>
            </a>
        </li>

        <li class="pages_link">
            <a href="/public/dashboard/funcionarios.html">
                <i class="fa-solid fa-users"></i><span>Funcionários</span>
            </a>
        </li>

        <li class="pages_link">
            <a href="/public/perfil/perfil.html">
                <i class="fa-solid fa-user"></i><span>Perfil</span>
            </a>
        </li>

        <li class="pages_link">
            <a href="/public/dashboard/configuracoes.html">
                <i class="fa-solid fa-gears"></i><span>Configurações</span>
            </a>
        </li>

    </ul>

</nav>
